.todo-block {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.todo-block:hover {
    background-color: #fcf7f0;
}

.completed {
    text-decoration: line-through;
}